@rendermode InteractiveServer
@using System.Text
@using Microsoft.AspNetCore.Components.Authorization
@using System.Text.Encodings.Web
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorBootstrap
@using System.Reflection;
@using System;

@inject IViewProcessingDeficiencyService searchProcessingDeficiencyService
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider authenticationProvider
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

@inject IAnalystsService analystService
@inject IRequestfileService requestFileService
@inject IAuditlogService auditlogService
@inject NavigationManager navigationManager

@page "/processingDeficiency/add"


@code {
    #region "Variables"
    private System.Security.Claims.ClaimsPrincipal user;
    private string? userReg;
    protected string Message = string.Empty;
    protected string StatusClass = string.Empty;
    private bool Saved;
    private string savetype = string.Empty;
    private string FileNumber = string.Empty;
    private bool alertMessageShow = false;

    [Parameter]
    public int fileid { get; set; }

    //Audit
    private AuditLog auditlog = new AuditLog();

    [Inject]
    private AuthenticationStateProvider GetAuthenticationStateAsync { get; set; }

    [Inject]
    private IProcessingDeficiencyService ProcessingDeficiencyService { get; set; }


    private ProcessingDeficiency processingDeficiency { get; set; } = new ProcessingDeficiency();

    private ProcessingDeficiency oprocessingDeficiency { get; set; } = new ProcessingDeficiency();

    private List<ProcessingDeficiency> processingDeficiencies { get; set; } = new List<ProcessingDeficiency>();

    // private Requestfile requestfile { get; set; } = new Requestfile();
    // public List<Analyst>? analysts { get; set; } = new List<Analyst>();


    //Data Grid -- Blazor QuickGrid
    private IQueryable<ProcessingDeficiencyView> searchProcessingDeficiencies;
    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };

    string nameFilter;
    //int minMedals;
    //int maxMedals = 120;

    //bool showpanel = true;
    bool showid = false;
    #endregion


    #region "Component Lifecycle"
    protected async override Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity.Name;

        processingDeficiencies = (await ProcessingDeficiencyService.GetProcessingDeficiencyList()).ToList();
        LoadData();
    }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userReg = user.Identity?.Name.ToString().ToUpper().Replace("CPSENTERPRISE\\", "");
        //analysts = (await analystService.GetAnalystsList()).ToList();
    }


    protected async override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {

            StateHasChanged();
            firstRender = false;
        }
    }
    #endregion

    #region "Methods"

    IQueryable<ProcessingDeficiencyView> UnfilteredProcessingDeficiencies
    {
        get
        {
            var result = searchProcessingDeficiencies;
            // if (!string.IsNullOrEmpty(nameFilter))
            // {
            //     result = result.Where(c => c.HolidayYear.Contains(nameFilter, StringComparison.CurrentCultureIgnoreCase));
            // }


            return result;
        }
    }


    private  async void LoadData()
    {
        searchProcessingDeficiencies = searchProcessingDeficiencyService.GetProcessingDeficiencyList().AsQueryable<ProcessingDeficiencyView>();
    }

    protected void HandleInvalidSubmit()
    {
        StatusClass = "alert-danger";
        Message = "There are some validation errors. Please try again.";
    }

    protected async Task HandleValidSubmit()
    {
        Saved = false;

        processingDeficiency.Moddate = DateTime.Now;
        processingDeficiency.Moduser = userReg;

        if (savetype == "update")
        {
            await ProcessingDeficiencyService.UpdateProcessingDeficiency(processingDeficiency);
            await AuditData("Update Processing Deficiency", "update");
        }
        else
        {
            processingDeficiency.Createdate = DateTime.Now;
            processingDeficiency.Createuser = userReg;

            //
            //processingDeficiency.Id = 99;



            await ProcessingDeficiencyService.CreateProcessingDeficiency(processingDeficiency);
            await AuditData("Create Processing Deficiency", "create");

        }

        StatusClass = "alert-success";
        Message = "Data updated successfully";
        alertMessageShow = true;
        await InvokeAsync(() => StateHasChanged());
        await Task.Delay(1000);

        alertMessageShow = false;
        Saved = true;
        navigationManager.NavigateTo($"/processingDeficiency/add", true);
    }

    private async Task AuditData(string act, string type)
    {
        auditlog.AccessDate = DateTime.Now;
        auditlog.RegNo = userReg;
        auditlog.Sdate = DateTime.Now;
        auditlog.UserName = userReg;
        auditlog.AccessSystem = "GateKeeper";
        auditlog.Activity = act;
        auditlog.ActivityXml = auditlogService.GetAuditxml(oprocessingDeficiency, processingDeficiency, act).ToString();

        if (type == "update" || type == "delete")
        {
            auditlog.ActivityXml = auditlogService.GetAuditxml(oprocessingDeficiency, processingDeficiency, act).ToString();
        }

        await auditlogService.CreateAuditlog(auditlog);
    }

    private async void UpdateData(int id)
    {
        savetype = "";
        if (id > 0)
        {
            savetype = "update";
            GetData(id);
        }
    }

    private async void GetData(int id)
    {
        if (id != null && id > 0)
        {
            oprocessingDeficiency = await ProcessingDeficiencyService.GetProcessingDeficiencyById(id);
            processingDeficiency = await ProcessingDeficiencyService.GetProcessingDeficiencyById(id);
            StateHasChanged();
        }
    }

    private ConfirmDialog dialog = default!;
    private async Task ShowConfirmationAsync(int id)
    {
        var confirmation = await dialog.ShowAsync(
            title: "Are you sure you want to delete this?",
            message1: "This will delete the record. Once deleted can not be rolled back.",
            message2: "Do you want to proceed?");

        if (confirmation)
        {
            if (id != null && id > 0)
            {
                processingDeficiency = await ProcessingDeficiencyService.GetProcessingDeficiencyById(id);
                await ProcessingDeficiencyService.DeleteProcessingDeficiency(processingDeficiency);
                AuditData("Delete Processing Deficiency", "delete");
            }

            StatusClass = "alert-success";
            Message = "Data deleted successfully";
            alertMessageShow = true;
            await InvokeAsync(() => StateHasChanged());
            await Task.Delay(1000);

            alertMessageShow = false;
            Saved = true;

            navigationManager.NavigateTo($"/processingDeficiency/add", true);

            LoadData();
            StateHasChanged();
        }
        else
        {
            // do something
        }
    }

    private void ClearData()
    {
        processingDeficiency = new ProcessingDeficiency();

    }

    private void FillData()
    {

        processingDeficiency.Description = "processingDeficiencyDescription";
        processingDeficiency.Moddate = DateTime.Now;
        processingDeficiency.Moduser = userReg;
        processingDeficiency.Createdate = DateTime.Now;
        processingDeficiency.Createuser = userReg;
        processingDeficiency.Status = "ok";
        processingDeficiency.SortBy = "description";
    }
    #endregion
}

@if (alertMessageShow)
{
    <br />
    <div class="alert @StatusClass" style="margin-left: 50px">@Message</div>
}

<h5>Processing Deficiency:</h5>

<EditForm Model="@processingDeficiency" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="lbDescription">
                    Description:
                </label>
                <InputText id="description" class="form-control" placeholder="DESCRIPTION" @bind-Value="processingDeficiency.Description" />
            </div>
        </div>
    </div>

    <hr />

    <button type="button" class="btn btn-primary" @onclick="FillData">Fill Data</button>
    <button type="button" class="btn btn-primary" @onclick="ClearData">Add New</button>
    <button type="submit" class="btn btn-primary">Save</button>

</EditForm>

<br />

<div class="row" style="width:100%;padding-bottom: 1em;">
    <div class="col-lg-5" style="float:left">
        Show:
        <label><input type="checkbox" @bind="showid" /> ID Column</label>
    </div>
    <div class="col-lg-5" style="float:left">
        <div class="page-size-chooser">
            Items per page:
            <select @bind="@pagination.ItemsPerPage">
                <option>3</option>
                <option>5</option>
                <option>10</option>
            </select>

        </div>
    </div>
    <div class="col-lg-2" style="float:revert">
        <div class="page-size-chooser">
        </div>
    </div>
</div>

<ConfirmDialog @ref="dialog" />

<div class="grid">
    <QuickGrid Items="@UnfilteredProcessingDeficiencies" Virtualize="true" Pagination="@pagination">
        @if (showid)
        {
            <PropertyColumn Property="@(r => r.Id)" Title="Id" Sortable="true" />
        }
@*         <PropertyColumn Property="@(c => c.HolidayYear)" Title="Year" Sortable="true" Class="filter-name">
            <ColumnOptions>
                <div class="search-box">
                    <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Holiday year..." />
                </div>
            </ColumnOptions>
        </PropertyColumn> *@
        
        <PropertyColumn Property="@(r => r.Description)" Title="Description" Sortable="true" />
        <PropertyColumn Property="@(r => r.Moddate)" Title="Modified Date" Sortable="true" />
        <PropertyColumn Property="@(r => r.Moduser)" Title="Modified By" Sortable="true" />
        <TemplateColumn Title="Actions">
            <button type="button" class="btn btn-primary" onclick="@(()=>UpdateData(context.Id))">Edit</button>
            <button type="button" class="btn btn-primary" onclick="@(()=>ShowConfirmationAsync(context.Id))">Del</button>
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="@pagination" />
