@rendermode InteractiveServer

@inject IDbContextFactory<AppDbContext> DbFactory
@inject IPersonnameService personNameService
@inject IAddressService addressService


@code {
    [Parameter]
    public EventCallback OnCancel { get; set; }
    [Parameter]
    public EventCallback<bool> OnSubmit { get; set; }
    [Parameter]
    public Requestfile requestFile { get; set; }
    [Parameter]
    public Person person { get; set; }

    #region Lookup parameters
    public List<LkRequesttype>? requestTypes { get; set; } = new List<LkRequesttype>();
    public List<LkProcessingdeficiency>? processingDeficiencies { get; set; } = new List<LkProcessingdeficiency>();
    public List<LkRecorddeliverymethod> recordDeliveryMethods { get; set; } = new List<LkRecorddeliverymethod>();
    public List<Analyst>? analysts { get; set; } = new List<Analyst>();
    public List<LkRequeststate>? requestStates { get; set; } = new List<LkRequeststate>();

    public List<Holiday>? holidays { get; set; } = new List<Holiday>();
    public List<Holiday>? thisYearHolidays { get; set; } = new List<Holiday>();

    string? requestTypeDetail { get; set; } = null;
    string? processingDeficiencyDetail { get; set; } = null;
    string? recordDeliveryMethodDetail { get; set; } = null;
    string? analystAssignedName { get; set; } = null;
    string? requestStateDetail { get; set; } = null;
    #endregion

    #region TypeAhead Parameters
    public List<POIName>? POIPersonNames { get; set; } = new List<POIName>();
    private POIName POISelectedPersonName;
    private POIName POIPersonName { get; set; } = new POIName();

    public List<CompanyName>? companynames { get; set; } = new List<CompanyName>();
    private CompanyName selectedcompanyname;
    private CompanyName companyname { get; set; } = new CompanyName();

    public List<PersonName>? personnames { get; set; } = new List<PersonName>();
    private PersonName selectedpersonname;
    private PersonName personname { get; set; } = new PersonName();

    public List<AddressInfo>? addresses { get; set; } = new List<AddressInfo>();
    private AddressInfo selectedaddress;
    private AddressInfo address { get; set; } = new AddressInfo();
    #endregion

    #region "Component Lifecycle"
    protected async override Task OnInitializedAsync()
    {
        GetData(); 
        GetDataContext();
    }

    public void GetData()
    {
        using (var context = DbFactory.CreateDbContext())
        {
            int? requestTypeID = requestFile.Requesttypeid ?? null;
            if (requestTypeID.HasValue)
            {
                LkRequesttype requestType = context.LkRequesttypes.Where(x => x.Id == requestTypeID).FirstOrDefault();
                requestTypeDetail = requestType.Detail;
            }

            int? processingDeficiencyID = requestFile.Processingdeficiency ?? null;
            if (processingDeficiencyID.HasValue)
            {
                LkProcessingdeficiency processingDeficiency = context.LkProcessingdeficiencies.Where(x => x.Id == processingDeficiencyID).FirstOrDefault();
                processingDeficiencyDetail = processingDeficiency.Detail;
            }

            int? recordDeliveryMethodID = requestFile.Recorddeliverymethodid ?? null;
            if (recordDeliveryMethodID.HasValue)
            {
                LkRecorddeliverymethod recordDeliveryMethod = context.LkRecorddeliverymethods.Where(x => x.Id == recordDeliveryMethodID).FirstOrDefault();
                recordDeliveryMethodDetail = recordDeliveryMethod.Detail;
            }

            int? analystAssignedID = requestFile.Analystassignedid ?? null;
            if (analystAssignedID.HasValue)
            {
                Analyst analystAssigned = context.Analysts.Where(x => x.Id == analystAssignedID).FirstOrDefault();
                analystAssignedName = analystAssigned.Displayname;
            }

            int? requestStateID = requestFile.Requeststate ?? null;
            if (requestStateID.HasValue)
            {
                LkRequeststate requestState = context.LkRequeststates.Where(x => x.Id == requestStateID).FirstOrDefault();
                requestStateDetail = requestState.Detail;
            }
        }
    }

    public void GetDataContext()
    {
        using (var context = DbFactory.CreateDbContext())
        {
            requestTypes = context.LkRequesttypes.Where(x => x.Status != "del").OrderBy(x => x.Sortby).ToList();
            processingDeficiencies = context.LkProcessingdeficiencies.Where(x => x.Status != "del").OrderBy(x => x.SortBy).ToList();

            POIPersonNames = personNameService.GetPOINames();
            companynames = personNameService.GetCompanyNames();
            personnames = personNameService.GetNames();
            addresses = addressService.GetAddress();

            recordDeliveryMethods = context.LkRecorddeliverymethods.Where(x => x.Status != "del").OrderBy(x => x.Sortby).ToList();
            analysts = context.Analysts.Where(x => x.Status != "del").OrderBy(x => x.Sortby).ToList();
            requestStates = context.LkRequeststates.Where(x => x.Status != "del").OrderBy(x => x.Sortby).ToList();
            holidays = context.Holidays.Where(x => x.Status != "del").ToList();
        }
    }
    #endregion

    #region TypeAhead function
    private async Task<IEnumerable<POIName>> SearchPOIPersonName(string searchText)
    {
        return await Task.FromResult(POIPersonNames.Where(x => (x.firstname + x.lastname + x.middlename).ToLower().Contains(searchText.ToLower())));
    }

    private async Task<IEnumerable<CompanyName>> SearchCompanyName(string searchText)
    {
        return await Task.FromResult(companynames.Where(x => (x.companyname).ToLower().Contains(searchText.ToLower())));
    }

    private async Task<IEnumerable<PersonName>> SearchPersonName(string searchText)
    {
        return await Task.FromResult(personnames.Where(x => (x.firstname + x.lastname + x.middlename).ToLower().Contains(searchText.ToLower())));
    }

    private async Task<IEnumerable<AddressInfo>> SearchAddress(string searchText)
    {
        return await Task.FromResult(addresses.Where(x => (x.Street + x.City + x.Country + x.Province + x.Postalcode).ToLower().Contains(searchText.ToLower())));
    }
    #endregion

    public async Task setDuedate()
    {
        await Task.Delay(500);

        if (requestFile.Receivedate != null)
        {
            List<DateTime> dateRange1 = new List<DateTime>();
            List<DateTime> dateRange2 = new List<DateTime>();

            DateTime dueDate = (DateTime)requestFile.Receivedate;
            DateTime setDate;

            dueDate = ((DateTime)requestFile.Receivedate).AddDays(30);

            for (int i = 0; i < 11; i++)
            {
                setDate = dueDate.AddDays(i);
                if ((int)setDate.DayOfWeek != 0 && (int)setDate.DayOfWeek != 6)
                {
                    dateRange1.Add(setDate);
                    dateRange2.Add(setDate);
                }
            }

            //Remove holidays
            var thisYearHolidays = holidays.Where(x => ((DateTime)x.Holidaydate).Year == DateTime.Today.Year);

            foreach (var item in thisYearHolidays)
            {
                foreach (var dt in dateRange1)
                {
                    int y = dateRange1.IndexOf(dt);
                    if (dt.Date.ToString() == ((DateTime)item.Holidaydate).Date.ToString())
                    {
                        dateRange2.RemoveAt(y);
                    }
                }
            }
            requestFile.Requestduedate = dateRange2.FirstOrDefault();
        }
    }
}

<EditForm  Model="@requestFile">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="lbfilenumber">
                    File Number:
                </label>
                <InputText id="filenumber" class="form-control" readonly="true" placeholder="FILE NUMBER" @bind-Value="requestFile.Filenumber" style="background-color:lightgray" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
               <span class="required">*</span> <label for="lbrequestdate">
                    Request Date:
                </label>
                <InputDate id="requestdate" class="form-control" placeholder="REQUEST DATE" @bind-Value="requestFile.Requestdate" />
                <ValidationMessage For="@(() => requestFile.Requestdate)" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <span class="required">*</span> <label for="lbreceivedate">
                    Received Date:
                </label>
                <InputDate id="receivedate" class="form-control" placeholder="RECEIVE DATE" @onblur="@setDuedate" @bind-Value="requestFile.Receivedate" @bind-Value:after="setDuedate" />
                <ValidationMessage For="@(() => requestFile.Requestdate)" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="lbrequestduedate">
                    Request Due Date:
                </label>
                <InputDate id="requestduedate" class="form-control" readonly="true" placeholder="REQUEST DUEDATE" @bind-Value="requestFile.Requestduedate" style="background-color:lightgray" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="lbreferencenumber">
                    Reference Number:
                </label>
                <InputText id="referencenumber" class="form-control" placeholder="REFERENCE NUMBER" @bind-Value="requestFile.Referencenumber" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <span class="required">*</span>
                <label for="lbidviewed">
                    ID Viewed:
                </label>
                <InputSelect id="idviewed" class="form-control" placeholder="ID VIEWED" @bind-Value="requestFile.Idviewed">
                    <option value="-1">Select...</option>
                    <option value="0">Yes</option>
                    <option value="1">No</option>
                    <option value="2">NA</option>
                </InputSelect>
                <ValidationMessage For="@(() => requestFile.Idviewed)" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <span class="required">*</span>
                <label for="lbrequesttypeid">
                    Request Type:  <b>@requestTypeDetail</b>
                </label>
                <InputSelect id="requesttypeid" class="form-control" placeholder="REQUEST TYPE" @bind-Value="requestFile.Requesttypeid">
                    <option value="-1">Select...</option>
                    @foreach (var lktype in requestTypes)
                    {
                        <option value="@lktype.Id">@lktype.Detail</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => requestFile.Requesttypeid)" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="lbprocessingdeficiency">
                    Processing Deficiency:  <b>@processingDeficiencyDetail</b>
                </label>
                <InputSelect id="processingdeficiency" class="form-control" placeholder="PROCESSING DEFICIENCY" @bind-Value="requestFile.Processingdeficiency">
                    <option value="-1">Select...</option>
                    @foreach (var lktype in processingDeficiencies)
                    {
                        <option value="@lktype.Id">@lktype.Detail</option>
                    }
                </InputSelect>
            </div>
        </div>

        <br />

        <hr />
        <div class="row h-auto">
            <div class="col-lg-6 col-md-3 col-sm-12">
                <div class="input-group ">
                    <label style="font-weight:bold;color:blue;">Search Subject of Request:</label>
                    <BlazoredTypeahead class="blazored-typeahead__clear" style="background-color:lightyellow" SearchMethod="SearchPOIPersonName" @bind-Value="POISelectedPersonName">
                        <SelectedTemplate Context="POIPersonName">@POIPersonName.firstname @POIPersonName.lastname @POIPersonName.middlename</SelectedTemplate>
                        <ResultTemplate Context="POIpersonname">@POIpersonname.firstname @POIpersonname.lastname @POIpersonname.middlename</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
        </div>

        @* Subject of Request Info *@
        <br />
       
        @if (POISelectedPersonName != null)
        {
            person.Personofinterestfirstname = POISelectedPersonName.firstname;
            person.Personofinterestlastname = POISelectedPersonName.lastname;
            person.Personofinterestmiddlename = POISelectedPersonName.middlename;
            POISelectedPersonName = null;
        }
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label>First Name:</label>
                <InputText id="poifirstname" class="form-control" @bind-Value="person.Personofinterestfirstname" />
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <label>Middle Name:</label>
                <InputText id="poimiddlename" class="form-control" @bind-Value="person.Personofinterestmiddlename" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label>Last Name:</label>
                <InputText id="poilastname" class="form-control" @bind-Value="person.Personofinterestlastname" />
            </div>
        </div>

        @* Requester Company info *@
        <hr />
        <div class="row">
            <div class="col-lg-6 col-md-3 col-sm-12">
                <div class="input-group ">
                    <label style="font-weight:bold;color:blue;">Search Company Name:</label>
                    <BlazoredTypeahead class="blazored-typeahead__clear" style="background-color:lightyellow" SearchMethod="SearchCompanyName" @bind-Value="selectedcompanyname">
                        <SelectedTemplate Context="companyname">@companyname.companyname. </SelectedTemplate>
                        <ResultTemplate Context="companyname">@companyname.companyname.</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>

            <div class="col-lg-6 col-md-3 col-sm-12">
                <div class="input-group ">
                    <label style="font-weight:bold;color:blue;">Search Request Name:</label>
                    <BlazoredTypeahead class="blazored-typeahead__clear" style="background-color:lightyellow" SearchMethod="SearchPersonName" @bind-Value="selectedpersonname">
                        <SelectedTemplate Context="personname">@personname.firstname @personname.lastname @personname.middlename</SelectedTemplate>
                        <ResultTemplate Context="personname">@personname.firstname @personname.lastname @personname.middlename</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
        </div>

        @if (selectedcompanyname != null)
        {
            person.Companyname = selectedcompanyname.companyname;
            selectedcompanyname = null;
        }

        @if (selectedpersonname != null)
        {
            person.Firstname = selectedpersonname.firstname;
            person.Lastname = selectedpersonname.lastname;
            person.Middlename = selectedpersonname.middlename;
            selectedpersonname = null;

        }

        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12">
                <label>
                    Company:
                </label>
                <InputText id="companyname" class="form-control" @bind-Value="person.Companyname" />
            </div>
        

            <div class="col-lg-2 col-md-3 col-sm-12">
                <span class="required">*</span>
                <label>First Name:</label>
                <InputText id="firstname" class="form-control" @bind-Value="person.Firstname" />
                <ValidationMessage For="@(() => person.Firstname)" />
            </div>

            <div class="col-lg-2 col-md-3 col-sm-12">
                <label>Middle Name:</label>
                <InputText id="middlename" class="form-control" @bind-Value="person.Middlename" />
            </div>

            <div class="col-lg-2 col-md-3 col-sm-12">
                <label>Last Name:</label>
                <InputText id="lastname" class="form-control" @bind-Value="person.Lastname" />
            </div>

            <div class="col-lg-2 col-md-3 col-sm-12">
                <label>Birth Date:</label>
                <InputDate id="birthdate" class="form-control" placeholder="BIRTH DATE" @bind-Value="person.Birthdate" />
            </div>
    
        </div>

        @* Requester Address *@
        <hr />
        <div class="row">
            <div class="col-lg-6 col-md-3 col-sm-12">
                <div class="input-group ">
                    <label style="font-weight:bold;color:blue;">Search Address:</label>
                    <BlazoredTypeahead class="blazored-typeahead__clear" style="background-color:lightyellow" SearchMethod="SearchAddress" @bind-Value="selectedaddress">
                        <SelectedTemplate Context="address">@address.Street @address.City @address.Province @address.City @address.Postalcode</SelectedTemplate>
                        <ResultTemplate Context="address">@address.Street @address.City @address.Province @address.City @address.Postalcode</ResultTemplate>
                    </BlazoredTypeahead>
                </div>
            </div>
        </div>

        @if (selectedaddress != null)
        {
            person.Street = selectedaddress.Street;
            person.City = selectedaddress.City;
            person.Province = selectedaddress.Province;
            person.Country = selectedaddress.Country;
            person.Postalcode = selectedaddress.Postalcode;

            selectedaddress = null;
        }

        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12">
                <span class="required">*</span>
                <label>
                    Street:
                </label>
                <InputText id="street" class="form-control" @bind-Value="person.Street" />
                <ValidationMessage For="@(() => person.Street)" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <span class="required">*</span>
                <label>
                    City:
                </label>
                <InputText id="city" class="form-control" @bind-Value="person.City" />
                <ValidationMessage For="@(() => person.City)" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <span class="required">*</span>
                <label>
                    Province:
                </label>
                <InputText id="province" class="form-control" @bind-Value="person.Province" />
                <ValidationMessage For="@(() => person.Province)" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <label>
                    Country:
                </label>
                <InputText id="country" class="form-control" @bind-Value="person.Country" />
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <label>
                    Postal Code:
                </label>
                <InputText id="postalcode" class="form-control" @bind-Value="person.Postalcode" />
            </div>
        </div>

        @* Requester Contact *@
        <hr />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <span class="required">*</span>
                <label>Daytime Phone:</label>
                <InputText id="daytimephone" class="form-control" @bind-Value="person.Daytimephone" />
                <ValidationMessage For="@(() => person.Daytimephone)" />
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <label>Alternate Phone:</label>
                <InputText id="alternatephone" class="form-control" @bind-Value="person.Alternatephone" />
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <label style="font-weight:200">Fax Phone:</label>
                <InputText id="faxphone" class="form-control" @bind-Value="person.Faxphone" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label style="font-weight:200">Email:</label>
                <InputText id="email" class="form-control" @bind-Value="person.Email" />
            </div>

        </div>

        <hr />
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="lbrecorddeliverymethodid">
                    Record Delivery Method:  <b>@recordDeliveryMethodDetail</b>
                </label>
                <InputSelect id="recorddeliverymethodid" class="form-control" placeholder="RECORD DELIVERY METHODID" @bind-Value="requestFile.Recorddeliverymethodid">
                    <option value="-1">Select...</option>
                    @foreach (var lktype in recordDeliveryMethods)
                    {
                        <option value="@lktype.Id">@lktype.Detail</option>
                    }
                </InputSelect>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <span class="required">*</span>
                <label for="lbanalystassignedid">
                    Analyst Assigned:  <b>@analystAssignedName</b>
                </label>
                <InputSelect id="analystassignedid" class="form-control" placeholder="ANALYST ASSIGNED" @bind-Value="requestFile.Analystassignedid">
                    <option value="-1">Select...</option>
                    @foreach (var lktype in analysts)
                    {
                        <option value="@lktype.Id">@lktype.Displayname</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => requestFile.Analystassignedid)" />
            </div>
            <div class="col-lg-5 col-md-3 col-sm-12">
                <label for="lbpreviousrequests">
                    Previous Requests:
                </label>
                <InputText id="previousrequests" class="form-control" placeholder="PREVIOUS REQUESTS" @bind-Value="requestFile.Previousrequests" />
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="lbtimeframe">
                    Time Frame:
                </label>
                <InputText id="timeframe" class="form-control" placeholder="TIME FRAME" @bind-Value="requestFile.Timeframe" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="lbrequeststate">
                    Request State:  <b>@requestStateDetail</b>
                </label>
                
                <InputSelect id="requeststate" class="form-control" placeholder="REQUEST STATE" @bind-Value="requestFile.Requeststate">
                    @* make request state default to Active *@
                    <option value="2" selected>Active</option>
                    @foreach (var lktype in requestStates)
                    {
                        <option value="@lktype.Id">@lktype.Detail</option>
                    }
                </InputSelect>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="lbclosedate">
                    Close Date:
                </label>
                <InputDate id="closedate" class="form-control" placeholder="CLOSE DATE" @bind-Value="requestFile.Closedate" />
            </div>
            <div class="col-lg-6 col-md-3 col-sm-12">
                <span class="required">*</span>
                <label for="lbrequestdetails">
                    Request Details:
                </label>
                
                <InputTextArea id="requestdetails" class="form-control" placeholder="REQUEST DETAILS" @bind-Value="requestFile.Requestdetails" row="15" col="150" style="min-height: 130px; overflow:auto;">
                    @((MarkupString)requestFile.Requestdetails)
                    </InputTextArea>
                <ValidationMessage For="@(() => requestFile.Requestdetails)" />
            </div>
            <div class="col-lg-6 col-md-3 col-sm-12">
                <label for="lbintakenotes">
                    Status Update:
                </label>
                <InputTextArea id="intakenotes" class="form-control" placeholder="STATUS UPDATE" @bind-Value="requestFile.Intakenotes" row="15" col="150" style="min-height: 130px; overflow:auto;" />
            </div>
        </div>
    </div>
</EditForm>
